/*michi_homeworkのindex.html用CSSです。*/

/*firstchild開始*/
#contents .firstchild {
	width: 380px;
	height: 50px;
	background-color: #00AA00;
}
#contents .firstchild .pageback {
	display: inline-block;
	width: 48px;
	line-height: 50px;
	vertical-align: middle;
	margin: 0 0 0 8px;
	color: white;
}
#contents .firstchild .schoolname {
	display: inline-block;
	width: 276px;
	text-align: center;
	vertical-align: middle;
	color: white;
}
#contents .firstchild .firstchild__box {
	display: inline-block;
	width: 48px;
	color: #00AA00;
}
/*firstchild終了*/
/*date開始*/
#contents .date {
	width: 380px;
	background-color: #CCFFCC;
}
#contents .date .month {
	display: inline-block;
	width: 48px;
	line-height: 50px;
	margin: 0 0 0 8px;
	vertical-align: middle;
	color: black;
}
#contents .date .date__box {
	display: inline-block;
	width: 232px;
}
#contents .date .year {
	display: inline-block;
	width: 84px;
	line-height: 50px;
	margin: 0 8px 0 0;
	vertical-align: middle;
	color: black;
}
/*date終了*/
/*current開始*/
#contents .current {
	display: table;
	width: 380px;
}
#contents  .current .current__dateday {
	display: table-cell;
	vertical-align: middle;
}
#contents  .current .current__dateday .current__date {
	display: table-cell;
	width: 50px;
	line-height: 25px;
	background-color: #FFEEFF;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
#contents  .current .current__dateday .current__day {
	display: table-cell;
	width: 50px;
	line-height: 25px;
	background-color: #FFEEFF;
	color: #FF77FF;
	text-align: center;
	vertical-align: middle;	
}
#contents  .current .current__txt {
	display: table-cell;
	width: 240px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
}
#contents  .current .current__img {
	display: table-cell;
	width: 40px;
	height: 50px;
	vertical-align: middle;
}
/*current終了*/
/*guide開始*/
#contents .guide {
	width: 380px;
	height: 50px;
}
#contents .guide__box {
	width: 380px;
	height: 10px;
}
#contents .line {
	float: left;
	vertical-align: middle;
	width: 5px;
	height: 30px;
	margin: 0 0 0 8px;
	background-color: #00AA00;
}
#contents .guide__txt {
	display: inline-block;
	width: 276px;
	line-height: 30px;
	margin: 0 0 0 4px;
}
#contents .guide__box {
	width: 380px;
	height: 10px;
}
/*guide終了*/
/*list開始*/
#contents .list {
	width: 380px;
	height: 480px;
}
#contents .list ol {
	padding: 0;
}
ol li:nth-child(2n) {
	background-color: #DDDDDD;
}
#contents .list .FirstItem {
	width: 380px;
	height: 80px;
}
#contents .list .FirstItem .FirstItem__time {
	display: inline-block;
	width: 120px;
	line-height: 16px;
	padding: 10px 0 0 15px;
	font-weight: bold;
}
#contents .list .FirstItem .FirstItem__img {
	float: right;
	margin: 21px 5px 0 0;
}
#contents .list .FirstItem .FirstItem__txt {
	width: 310px;
	line-height: 15px;
	margin: 10px 0 0 15px;
	font-size: 10px;
}
#contents .list .FirstItem .FirstItem__adress {
	width: 310px;
	line-height: 10px;
	margin: 10px 0 0 15px;
	font-size: 8px;
}
#contents .list .SecondItem {
	width: 380px;
	height: 80px;
}
#contents .list .SecondItem .SecondItem__time {
	display: inline-block;
	width: 120px;
	line-height: 16px;
	padding: 10px 0 0 15px;
	font-weight: bold;
}
#contents .list .SecondItem .SecondItem__img {
	float: right;
	margin: 21px 5px 0 0;
}
#contents .list .SecondItem .SecondItem__txt {
	width: 310px;
	line-height: 15px;
	margin: 10px 0 0 15px;
	font-size: 10px;
}
#contents .list .SecondItem .SecondItem__adress {
	width: 310px;
	line-height: 10px;
	margin: 10px 0 0 15px;
	font-size: 8px;
}
#contents .list .ThirdItem {
	width: 380px;
	height: 80px;
}
#contents .list .ThirdItem .ThirdItem__time {
	display: inline-block;
	width: 120px;
	line-height: 16px;
	padding: 10px 0 0 15px;
	font-weight: bold;
}
#contents .list .ThirdItem .ThirdItem__img {
	float: right;
	margin: 21px 5px 0 0;
}
#contents .list .ThirdItem .ThirdItem__txt {
	width: 310px;
	line-height: 15px;
	margin: 10px 0 0 15px;
	font-size: 10px;
}
#contents .list .ThirdItem .ThirdItem__adress {
	width: 310px;
	line-height: 10px;
	margin: 10px 0 0 15px;
	font-size: 8px;
}
#contents .list .FourthItem {
	width: 380px;
	height: 80px;
}
#contents .list .FourthItem .FourthItem__time {
	display: inline-block;
	width: 120px;
	line-height: 16px;
	padding: 10px 0 0 15px;
	font-weight: bold;
}
#contents .list .FourthItem .FourthItem__img {
	float: right;
	margin: 21px 5px 0 0;
}
#contents .list .FourthItem .FourthItem__txt {
	width: 310px;
	line-height: 15px;
	margin: 10px 0 0 15px;
	font-size: 10px;
}
#contents .list .FourthItem .FourthItem__adress {
	width: 310px;
	line-height: 10px;
	margin: 10px 0 0 15px;
	font-size: 8px;
}
#contents .list .FifthItem {
	width: 380px;
	height: 80px;
}
#contents .list .FifthItem .FifthItem__time {
	display: inline-block;
	width: 120px;
	line-height: 16px;
	padding: 10px 0 0 15px;
	font-weight: bold;
}
#contents .list .FifthItem .FifthItem__img {
	float: right;
	margin: 21px 5px 0 0;
}
#contents .list .FifthItem .FifthItem__txt {
	width: 310px;
	line-height: 15px;
	margin: 10px 0 0 15px;
	font-size: 10px;
}
#contents .list .FifthItem .FifthItem__adress {
	width: 310px;
	line-height: 10px;
	margin: 10px 0 0 15px;
	font-size: 8px;
}
#contents .list .SixthItem {
	width: 380px;
	height: 80px;
}
#contents .list .SixthItem .SixthItem__time {
	display: inline-block;
	width: 120px;
	line-height: 16px;
	padding: 10px 0 0 15px;
	font-weight: bold;
}
#contents .list .SixthItem .SixthItem__img {
	float: right;
	margin: 21px 5px 0 0;
}
#contents .list .SixthItem .SixthItem__txt {
	width: 310px;
	line-height: 15px;
	margin: 10px 0 0 15px;
	font-size: 10px;
}
#contents .list .SixthItem .SixthItem__adress {
	width: 310px;
	line-height: 10px;
	margin: 10px 0 0 15px;
	font-size: 8px;
}
/*list終了*/