/*michi_homeworkのlist_suumo.cssです。*/

/*header__build*/
#contents .header__build {
	width: 500px;
	background-color: #79706c;
	color: #fff;
	text-align: center;
}
/*custom__home__land*/
#contents .custom__home__land {
	display: table;
	width: 500px;
	height: 70px;
}
/*custom__home*/
#contents .custom__home {
	display: table-cell;
	vertical-align: middle;
	width: 250px;
	height: 70px;
	background-color: #EEEEEE;
}
#contents .custom__home a:hover {
	cursor: pointer;
}
/*custom__home__image__house*/
#contents .custom__home .custom__home__image__house {
	display: inline-block;
	width: 210px;
	height: 40px;
	padding: 5px 0;
	text-align: center;
	vertical-align: middle;
	background-color: #EEEEEE;
}
/*custom__home__txt*/
#contents .custom__home .custom__home__txt {
	display: inline-block;
	width: 210px;
	padding: 2.5px 0;
	text-align: center;
	vertical-align: middle;
	font-size: 8px;
	background-color: #EEEEEE;
}
/*custom__home__image__rightarrow*/
#contents .custom__home__image__rightarrow {
	float: right;
	width: 32px;
	padding: 15px 4px;
	height: 40px;
	background-color: #EEEEEE;
	vertical-align: middle;
	text-align: center;
}
/*land*/
#contents .land {
	display: table-cell;
	vertical-align: middle;
	width: 250px;
	height: 70px;
	background-color: #EEEEEE;
}
/*land__image__house*/
#contents .land .land__image__land {
	display: inline-block;
	width: 210px;
	height: 40px;
	padding: 5px 0;
	text-align: center;
	vertical-align: middle;
	background-color: #EEEEEE;
}
/*land__txt*/
#contents .land .land__txt {
	display: inline-block;
	width: 210px;
	padding: 2.5px 0;
	text-align: center;
	vertical-align: middle;
	font-size: 8px;
	background-color: #EEEEEE;
}
/*land__image__rightarrow*/
#contents .land .land__image__rightarrow {
	float: right;
	width: 32px;
	padding: 15px 4px;
	height: 40px;
	background-color: #EEEEEE;
	vertical-align: middle;
	text-align: center;
}
/*header__reform*/
#contents .header__reform {
	width: 500px;
	background-color: #79706c;
	color: #fff;
	text-align: center;
}
/*header__reformおわり*/
/*reform__household__equipment*/
#contents .reform__household__equipment {
	display: table;
	width: 500px;
	height: 70px;
}
/*reform*/
#contents .reform {
	display: table-cell;
	vertical-align: middle;
	width: 250px;
	height: 70px;
	background-color: #EEEEEE;
	
}
/*reform__image__reform*/
#contents .reform .reform__image__reform {
	display: inline-block;
	width: 210px;
	height: 40px;
	padding: 5px 0;
	text-align: center;
	vertical-align: middle;
	background-color: #EEEEEE;
}
/*reform__txt*/
#contents .reform .reform__txt {
	display: inline-block;
	width: 210px;
	padding: 2.5px 0;
	text-align: center;
	vertical-align: middle;
	font-size: 8px;
	background-color: #EEEEEE;
}
/*reform__image__rightarrow*/
#contents .reform__image__rightarrow {
	float: right;
	width: 32px;
	padding: 15px 4px;
	height: 40px;
	background-color: #EEEEEE;
	vertical-align: middle;
	text-align: center;
}
/*household__equipment*/
#contents .household__equipment {
	display: table-cell;
	vertical-align: middle;
	width: 250px;
	height: 70px;
	background-color: #EEEEEE;
	
}
/*household__equipment__image__household__equipment*/
#contents .household__equipment .household__equipment__image__household__equipment {
	display: inline-block;
	width: 210px;
	height: 40px;
	padding: 5px 0;
	text-align: center;
	vertical-align: middle;
	background-color: #EEEEEE;
}
/*household__equipment__txt*/
#contents .household__equipment .household__equipment__txt {
	display: inline-block;
	width: 210px;
	padding: 2.5px 0;
	text-align: center;
	vertical-align: middle;
	font-size: 8px;
	background-color: #EEEEEE;
}
/*household__equipment__image__rightarrow*/
#contents .household__equipment .household__equipment__image__rightarrow {
	float: right;
	width: 32px;
	padding: 15px 4px;
	height: 40px;
	background-color: #EEEEEE;
	vertical-align: middle;
	text-align: center;
}
#contents .consult {
	display: table;
	width: 500px;
	height: 50px;
}
#contents .consult .consult__image {
	display: table-cell;
	width: 50px;
	height: 50px;
}
#contents .consult .consult__txt {
	display: table-cell;
	width: 450px;
	height: 50px;
	vertical-align: middle;
	font-weight: bold;
}
#contents .sell__lend {
	display: table;
	width: 500px;
	height: 50px;
}
#contents .sell__lend .sell__lend__image {
	display: table-cell;
	width: 50px;
	height: 50px;
}
#contents .sell__lend .sell__lend__txt {
	display: table-cell;
	width: 450px;
	height: 50px;
	vertical-align: middle;
	font-weight: bold;
}
#contents .live {
	display: table;
	width: 500px;
	height: 50px;
}
#contents .live .live__image {
	display: table-cell;
	width: 50px;
	height: 50px;
}
#contents .live .live__txt {
	display: table-cell;
	width: 450px;
	height: 50px;
	vertical-align: middle;
	font-weight: bold;
}
#contents .help {
	display: table;
	width: 500px;
	height: 50px;
}
#contents .help .help__image {
	display: table-cell;
	width: 50px;
	height: 50px;
}
#contents .help .help__txt {
	display: table-cell;
	width: 450px;
	height: 50px;
	vertical-align: middle;
	font-weight: bold;
}
#contents .application {
	display: table;
	width: 500px;
	height: 50px;
}
#contents .application .application__image {
	display: table-cell;
	width: 50px;
	height: 50px;
}
#contents .application .application__txt {
	display: table-cell;
	width: 450px;
	height: 50px;
	vertical-align: middle;
	font-weight: bold;
}
#contents 
#contents 
#contents 
#contents 
#contents 