/*michi_homeworkのlist_suumo.cssです。*/

/*header__build*/
#contents .header__build {
	width: 500px;
	background-color: #79706c;
	color: #fff;
	text-align: center;
}
/*custom__home__land*/
#contents .custom__home__land {
	display: table;
	width: 500px;
	height: 70px;
}
/*custom__home*/
#contents .custom__home {
	display: table-cell;
	vertical-align: middle;
	width: 250px;
	height: 70px;
	background-color: #EEEEEE;
}
#contents .custom__home a:hover {
	cursor: pointer;
}
/*custom__home__image__house*/
#contents .custom__home .custom__home__image__house {
	display: inline-block;
	width: 210px;
	height: 40px;
	padding: 5px 0;
	text-align: center;
	vertical-align: middle;
	background-color: #EEEEEE;
}
/*custom__home__txt*/
#contents .custom__home .custom__home__txt {
	display: inline-block;
	width: 210px;
	padding: 2.5px 0;
	text-align: center;
	vertical-align: middle;
	font-size: 8px;
	background-color: #EEEEEE;
	color: black;
}
/*custom__home__image__rightarrow*/
#contents .custom__home__image__rightarrow {
	float: right;
	width: 32px;
	padding: 15px 4px;
	height: 40px;
	background-color: #EEEEEE;
	vertical-align: middle;
	text-align: center;
}
/*land*/
#contents .land {
	display: table-cell;
	vertical-align: middle;
	width: 250px;
	height: 70px;
	background-color: #EEEEEE;
}
/*land__image__house*/
#contents .land .land__image__land {
	display: inline-block;
	width: 210px;
	height: 40px;
	padding: 5px 0;
	text-align: center;
	vertical-align: middle;
	background-color: #EEEEEE;
}
/*land__txt*/
#contents .land .land__txt {
	display: inline-block;
	width: 210px;
	padding: 2.5px 0;
	text-align: center;
	vertical-align: middle;
	font-size: 8px;
	background-color: #EEEEEE;
	color: black;
}
/*land__image__rightarrow*/
#contents .land .land__image__rightarrow {
	float: right;
	width: 32px;
	padding: 15px 4px;
	height: 40px;
	background-color: #EEEEEE;
	vertical-align: middle;
	text-align: center;
}
/*header__reform*/
#contents .header__reform {
	width: 500px;
	background-color: #79706c;
	color: #fff;
	text-align: center;
}
/*header__reformおわり*/
/*reform__household__equipment*/
#contents .reform__household__equipment {
	display: table;
	width: 500px;
	height: 70px;
}
/*reform*/
#contents .reform {
	display: table-cell;
	vertical-align: middle;
	width: 250px;
	height: 70px;
	background-color: #EEEEEE;
}
/*reform__image__reform*/
#contents .reform .reform__image__reform {
	display: inline-block;
	width: 210px;
	height: 40px;
	padding: 5px 0;
	text-align: center;
	vertical-align: middle;
	background-color: #EEEEEE;
}
/*reform__txt*/
#contents .reform .reform__txt {
	display: inline-block;
	width: 210px;
	padding: 2.5px 0;
	text-align: center;
	vertical-align: middle;
	font-size: 8px;
	background-color: #EEEEEE;
	color: black;
}
/*reform__image__rightarrow*/
#contents .reform__image__rightarrow {
	float: right;
	width: 32px;
	padding: 15px 4px;
	height: 40px;
	background-color: #EEEEEE;
	vertical-align: middle;
	text-align: center;
}
/*household__equipment*/
#contents .household__equipment {
	display: table-cell;
	vertical-align: middle;
	width: 250px;
	height: 70px;
	background-color: #EEEEEE;
}
/*household__equipment__image__household__equipment*/
#contents .household__equipment .household__equipment__image__household__equipment {
	display: inline-block;
	width: 210px;
	height: 40px;
	padding: 5px 0;
	text-align: center;
	vertical-align: middle;
	background-color: #EEEEEE;
}
/*household__equipment__txt*/
#contents .household__equipment .household__equipment__txt {
	display: inline-block;
	width: 210px;
	padding: 2.5px 0;
	text-align: center;
	vertical-align: middle;
	font-size: 8px;
	background-color: #EEEEEE;
	color: black;
}
/*household__equipment__image__rightarrow*/
#contents .household__equipment .household__equipment__image__rightarrow {
	float: right;
	width: 32px;
	padding: 15px 4px;
	height: 40px;
	background-color: #EEEEEE;
	vertical-align: middle;
	text-align: center;
}
/*consult*/
#contents .consult {
	display: table;
	width: 500px;
	height: 50px;
	background-color: #F5F5F5;
	border-top: #AAAAAA solid 2px;
}
#contents .consult .consult__image {
	display: table-cell;
	width: 50px;
	height: 50px;
}
#contents .consult .consult__txt {
	display: table-cell;
	width: 450px;
	height: 50px;
	vertical-align: middle;
	font-weight: bold;
}
/*counter__mansion*/
#contents .counter__mansion {
	width: 500px;
	height: 50px;
	border-top: #AAAAAA solid 1px;
	border-bottom: #AAAAAA solid 1px;
}
#contents .counter__mansion .mansion {
	display: table;
	width: 500px;
	height: 50px;
}
#contents .counter__mansion .mansion a {
	text-decoration: none;
	color: black;
}
#contents .counter__mansion .mansion a:hover {
	cursor: pointer;
}
#contents .counter__mansion .mansion .mansion__image__mansion {
	display: table-cell;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
}
#contents .counter__mansion .mansion .mansion__txt {
	display: table-cell;
	width: 400px;
	height: 50px;
	vertical-align: middle;
}
#contents .counter__mansion .mansion .mansion__image__rightarrow {
	display: table-cell;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
}
/*counter__custom__home*/
#contents .counter__custom__home {
	width: 500px;
	height: 50px;
	border-bottom: #AAAAAA solid 1px;
}
#contents .counter__custom__home .home {
	display: table;
	width: 500px;
	height: 50px;
}
#contents .counter__custom__home .home a {
	text-decoration: none;
	color: black;
}
#contents .counter__custom__home .home a:hover {
	cursor: pointer;
}
#contents .counter__custom__home .home .home__image__home {
	display: table-cell;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
}
#contents .counter__custom__home .home .home__txt {
	display: table-cell;
	width: 400px;
	height: 50px;
	vertical-align: middle;
}
#contents .counter__custom__home .home .home__image__rightarrow {
	display: table-cell;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
}
/*sell__lend*/
#contents .sell__lend {
	display: table;
	width: 500px;
	height: 50px;
	background-color: #F5F5F5;
	border-bottom: #AAAAAA solid 1px;
}
#contents .sell__lend .sell__lend__image {
	display: table-cell;
	width: 50px;
	height: 50px;
}
#contents .sell__lend .sell__lend__txt {
	display: table-cell;
	width: 450px;
	height: 50px;
	vertical-align: middle;
	font-weight: bold;
}
/*sale*/
#contents .sale {
	width: 500px;
	height: 50px;
}
#contents .sale .sale {
	display: table;
	width: 500px;
	height: 50px;
}
#contents .sale .sale a {
	text-decoration: none;
	color: black;
}
#contents .sale .sale a:hover {
	cursor: pointer;
}
#contents .sale .sale .sale__image__sale {
	display: table-cell;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
}
#contents .sale .sale .sale__txt {
	display: table-cell;
	width: 400px;
	height: 50px;
	vertical-align: middle;
}
#contents .sale .sale .sale__image__rightarrow {
	display: table-cell;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
}
/*lend__management*/
#contents .lend__management {
	width: 500px;
	height: 50px;
	border-top: #AAAAAA solid 1px;
}
#contents .lend__management .lend {
	display: table;
	width: 500px;
	height: 50px;
}
#contents .lend__management .lend a {
	text-decoration: none;
	color: black;
}
#contents .lend__management .lend a:hover {
	cursor: pointer;
}
#contents .lend__management .lend .lend__image__lend {
	display: table-cell;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
}
#contents .lend__management .lend .lend__txt {
	display: table-cell;
	width: 400px;
	height: 50px;
	vertical-align: middle;
}
#contents .lend__management .lend .lend__image__rightarrow {
	display: table-cell;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
}
/*live*/
#contents .live {
	display: table;
	width: 500px;
	height: 50px;
	background-color: #F5F5F5;
	border-top: #AAAAAA solid 1px;
	border-bottom: #AAAAAA solid 1px;
}
#contents .live .live__image {
	display: table-cell;
	width: 50px;
	height: 50px;
}
#contents .live .live__txt {
	display: table-cell;
	width: 450px;
	height: 50px;
	vertical-align: middle;
	font-weight: bold;
}
/*moving__estimate*/
#contents .moving__estimate {
	width: 500px;
	height: 50px;
	border-bottom: #AAAAAA solid 1px;
}
#contents .moving__estimate .estimate {
	display: table;
	width: 500px;
	height: 50px;
}
#contents .moving__estimate .estimate a {
	text-decoration: none;
	color: black;
}
#contents .moving__estimate .estimate a:hover {
	cursor: pointer;
}
#contents .moving__estimate .estimate .estimate__image__estimate {
	display: table-cell;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
}
#contents .moving__estimate .estimate .estimate__txt {
	display: table-cell;
	width: 400px;
	height: 50px;
	vertical-align: middle;
}
#contents .moving__estimate .estimate .estimate__image__rightarrow {
	display: table-cell;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
}
/*diagnosis*/
#contents .diagnosis {
	width: 500px;
	height: 50px;
}
#contents .diagnosis .diagnosis {
	display: table;
	width: 500px;
	height: 50px;
}
#contents .diagnosis .diagnosis a {
	text-decoration: none;
	color: black;
}
#contents .diagnosis .diagnosis a:hover {
	cursor: pointer;
}
#contents .diagnosis .diagnosis .diagnosis__image__diagnosis {
	display: table-cell;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
}
#contents .diagnosis .diagnosis .diagnosis__txt {
	display: table-cell;
	width: 400px;
	height: 50px;
	vertical-align: middle;
}
#contents .diagnosis .diagnosis .diagnosis__image__rightarrow {
	display: table-cell;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
}
/*help*/
#contents .help {
	display: table;
	width: 500px;
	height: 50px;
	background-color: #F5F5F5;
	border-top: #AAAAAA solid 1px;
	border-bottom: #AAAAAA solid 1px;
}
#contents .help .help__image {
	display: table-cell;
	width: 50px;
	height: 50px;
}
#contents .help .help__txt {
	display: table-cell;
	width: 450px;
	height: 50px;
	vertical-align: middle;
	font-weight: bold;
}
/*journal*/
#contents .SUUMOjournal {
	width: 500px;
	height: 50px;
	border-bottom: #AAAAAA solid 1px;
}
#contents .SUUMOjournal .journal {
	display: table;
	width: 500px;
	height: 50px;
}
#contents .SUUMOjournal .journal a {
	text-decoration: none;
	color: black;
}
#contents .SUUMOjournal .journal a:hover {
	cursor: pointer;
}
#contents .SUUMOjournal .journal .journal__image__journal {
	display: table-cell;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
}
#contents .SUUMOjournal .journal .journal__txt {
	display: table-cell;
	width: 400px;
	height: 50px;
	vertical-align: middle;
}
#contents .SUUMOjournal .journal .journal__image__rightarrow {
	display: table-cell;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
}
/*know-how*/
#contents .know-how {
	width: 500px;
	height: 50px;
	border-bottom: #AAAAAA solid 1px;
}
#contents .know-how .know-how {
	display: table;
	width: 500px;
	height: 50px;
}
#contents .know-how .know-how a {
	text-decoration: none;
	color: black;
}
#contents .know-how .know-how a:hover {
	cursor: pointer;
}
#contents .know-how .know-how .know-how__image__know-how {
	display: table-cell;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
}
#contents .know-how .know-how .know-how__txt {
	display: table-cell;
	width: 400px;
	height: 50px;
	vertical-align: middle;
}
#contents .know-how .know-how .know-how__image__rightarrow {
	display: table-cell;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
}
/*application*/
#contents .application {
	display: table;
	width: 500px;
	height: 50px;
	background-color: #F5F5F5;
}
#contents .application .application__image {
	display: table-cell;
	width: 50px;
	height: 50px;
}
#contents .application .application__txt {
	display: table-cell;
	width: 450px;
	height: 50px;
	vertical-align: middle;
	font-weight: bold;
}
#contents .application__icon__txt {
	width: 500px;
	height: 100px;
}
#contents .application__icon__txt .icon {
	width: 500px;
	height: 50px;
	text-align: center;
	background-color: #F5F5F5;
}
#contents .application__icon__txt .txt {
	width: 500px;
	height: 25px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	background-color: #F5F5F5;
}
#contents 