/*michi_homeworkのindex.html用CSSです。*/

/*firstchild開始*/
#contents .firstchild {
	width: 380px;
	height: 32px;
	background-color: #00AA00;
}
#contents .firstchild .pageback {
	display: inline-block;
	width: 48px;
	height: 32px;
	vertical-align: middle;
	margin: 0 0 0 8px;
	color: white;
}
#contents .firstchild .schoolname {
	display: inline-block;
	width: 280px;
	height: 32px;
	text-align: center;
	vertical-align: middle;
	color: white;
}
#contents .firstchild .box {
	display: inline-block;
	width: 44px;
	color: #00AA00;
}
/*firstchild終了*/

/*date開始*/
#contents .date {
	width: 380px;
	height: 32px;
	background-color: #CCFFCC;
}
#contents .date .month {
	display: inline-block;
	width: 48px;
	height: 32px;
	margin: 0 0 0 8px;
	vertical-align: middle;
	color: black;
}
#contents .date .box {
	display: inline-block;
	width: 232px;
	height: 32px;
}
#contents .date .year {
	display: inline-block;
	width: 84px;
	height: 32px;
	margin: 0 8px 0 0;
	vertical-align: middle;
	color: black;
}
/*date終了*/